@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}

input::placeholder {
  color: white;
  margin-left: 12px;
  opacity: 1;
}

@font-face {
  font-family: "Customfont";
  src: url("../src/assets/RNS-B.ttf");
}

.font-custom {
  font-family: "Customfont";
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-marquee {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 8s linear infinite;
}

input {
  padding-left: 1rem; /* To przesunie też placeholder */
}

.kranky-regular {
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
}
@layer utilities {
  @keyframes scrollDot {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(1.2rem);
    }
  }

  .animate-scrollDot {
    animation: scrollDot 1.6s ease-in-out infinite;
  }
}